Please enter your skills
<form action="/skills" method="POST">
  <label>Skill name: <input type="text" name="skill_name"></label><br>
  <label>Skill context: <input type="text" name="skill_context"></label><br>
  <label>Years: <input type="text" name="years"></label><br>
  <label>Formal Education? <input type="text" name="formal" placeholder="yes or no"></label><br>
  <input type="submit">
</form>
